.App {
  text-align: center;
}
.home-background {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6ee7b7, #3b82f6); 
  color: white;
}
.home-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; 
  transition: background-color 0.3s, color 0.3s; 
}
.home-button:hover {
  background-color: #f1f1f1;
}
.contactme-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; 
  transition: background-color 0.3s, color 0.3s; 
}
.contactme-button:hover {
  background-color: #f1f1f1;
}
